extends ../layouts/default.pug

block main
  if (permissions.includes("order-view"))
    h1.box-title Quản lý đơn hàng

    //- Section 4
    .section-4
      .inner-wrap
        .inner-item.inner-label
          <i class="fa-solid fa-filter"></i> Bộ lọc
        .inner-item
          select
            option(value="") Trạng thái
            option(value="") Khởi tạo
            option(value="") Hoàn thành
            option(value="") Hủy
        .inner-item.inner-date
          input(type="date")
          span -
          input(type="date")
        .inner-item
          select
            option(value="") Phương thức thanh toán
            option(value="") Ví Momo
            option(value="") VNPay
            option(value="") ZaloPay
        .inner-item
          select
            option(value="") Trạng thái thanh toán
            option(value="") Đã thanh toán
            option(value="") Chưa thanh toán
        .inner-item.inner-reset
          <i class="fa-solid fa-rotate-left"></i> Xóa bộ lọc
    //- End Section 4

    //- Section 5
    .section-5
      .inner-wrap
        .inner-search
          <i class="fa-solid fa-magnifying-glass"></i>
          input(type="text" placeholder="Tìm kiếm")
    //- End Section 5

    //- Section 6
    .section-6
      .table-2
        table
          thead
            tr
              th Mã
              th Thông tin khách
              th Danh sách tour
              th Thanh toán
              th Trạng thái
              th(class="inner-center") Ngày đặt
              th Hành động
          tbody
            each item in orderList
              tr
                td
                  .inner-code #{item.id}
                td
                  div Họ tên: #{item.fullName}
                  div SĐT:    #{item.phone}
                  div Ghi Chú:#{item.note}
                td
                  each cart in item.cart
                    .inner-item
                      .inner-image
                        img(src=cart.avatar, alt=cart.name)
                      .inner-content
                        .inner-name #{cart.name}
                        .inner-quantity Người lớn: #{cart.quantityAdult} x #{cart.priceNewAdult.toLocaleString()}đ
                        .inner-quantity Trẻ em: #{cart.quantityChildren} x #{cart.priceNewChildren.toLocaleString()}đ
                        .inner-quantity Em bé: #{cart.quantityBaby} x #{cart.priceNewBaby.toLocaleString()}đ
                td
                  div Tổng tiền: #{item.total ? item.total.toLocaleString() + 'đ' : '...'}
                  div Giảm: #{item.discount ? item.discount.toLocaleString() + 'đ' : '0đ'}
                  div Mã giảm: #{item.couponCode || 'Không có'}
                  div Thanh toán: #{item.finalAmount ? item.finalAmount.toLocaleString() + 'đ' : (item.total ? item.total.toLocaleString() + 'đ' : '...')}
                  div PTTT: #{item.method == 'momo' ? 'Ví Momo' : (item.method == 'bank' ? 'Chuyển khoản' : 'Tiền mặt')}
                  div TTTT: #{item.paymentStatus == 'paid' ? 'Đã thanh toán' : 'Chưa thanh toán'}
                td
                  .badge.badge-orange Khởi tạo
                td(class="inner-center")
                  div #{item.createdTime}
                  div #{item.createdDate}
                td
                  .inner-buttons
                    a(
                      href=`/${pathadmin}/order/edit/${item.id}`
                      class="inner-edit"
                    ) <i class="fa-regular fa-pen-to-square"></i>
                    button(
                      class="inner-delete"
                      button-delete
                      data-api=`/${pathadmin}/order/delete/${item.id}`
                    ) <i class="fa-regular fa-trash-can"></i>
    //- End Section 6

    //- Section 7
    .section-7
      span(class="inner-label") Hiển thị 1 - 9 của 78
      select(class="inner-pagination")
        option Trang 1
        option Trang 2
        option Trang 3
    //- End Section 7